body {
    background: #F4F6F7;
    font-family: 'VT323';
}

header{
    background: white;
    padding: 10px 0;
}

.base{
    background: #5D6D7E;
    border-radius: 10px;
    border: 3px solid black;
    margin: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 600px;
    gap: 50px;
}

@media(width > 800px){
    .base{
        grid-template-columns: 1fr 1fr;
    }
}

.base section{
    border-radius: 4px;
    border: 2px solid orange;
}

.base section:first-child{
    background: yellow;
    grid-row: span 2;
}

.base section:nth-child(2){
    background: blue;
    grid-row: span 2;
}

.texto {
    font-size: 20px;
    width: 80%;
    height: 400px;
    border-style: none;
    border-radius: 10px;
    padding: 50px;
    background-color: #f4f4fc;
    resize: none;
    transition: 0.7s all;
}

.boton {
    bottom: 15px;
    text-align: center;
}

.derecha img{
    text-align: center;
}

.iconosmall{
    font-style: italic;
    padding: 20px;
    text-align: left;
}

.iconosmall img{
    margin: -1px;
    width: 14px;
    text-align: center;
}   


